<launch>
	<node pkg="att_ekf" type="att_ekf" name="att_ekf" output="screen">
		<remap from="/imu" to="/raw_imu"/>
		<remap from="/scan" to="/scan" />
	</node>
  	<!-- Start rviz visualization with preset config -->
  	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find att_ekf)/rviz_cfg/att_ekf.rviz"/>

</launch>